.Admin {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.Admin-Camera {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.healthy {
  display: inline;
  font-weight: bold;
  color: #30FF50;
}

.camera-list {
  display: flex;
  padding: .5em;
}

.camera-list button {
  flex: 4;
}

.camera-list .btn {
  flex: 1;
}
