.Admin {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.Admin-Camera {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

button.list-group-item {
  word-break: break-all;
}

.Admin .row {
  margin: 1em;
}

.Admin .row .col {
  margin: 1em;
}

.card {
  text-align: center;
}

.healthy {
  display: inline;
  font-weight: bold;
  color: #30FF50;
}

.camera-list {
  display: flex;
  padding: .5em;
}

.camera-list button {
  flex: 4;
}

.camera-list .btn {
  flex: 1;
}

.camera-list a .btn {
  width: 100%;
  height: 100%;
}

.Edit {
  position: fixed;
  z-index: 2;
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Edit form {
  margin: 20vh;
  position: relative;
  padding: 3em;
  background-color: white;
}

#buttons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.Import {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.ImportPeople {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.Import .form-control {
  display: block;
  width: 33%;
  float: right;
}

.ImportAuth {
  padding: 5em;
  padding-top: calc(10vh + 5em);
}

.list {
  display: flex;
}

.list a .btn {
  width: 100%;
  height: 100%;
}