.App-header {
  display: flex;
  flex-direction: row;
  background-color: #f2d8b5;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0px;
  z-index: 2;
}

.HeaderText {
  flex: 5;
  display: flex;
  align-items: center;
}

.dropdown {
  flex: 1;
}

a.HeaderAuth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderAuth {
  width: 100%;
  height: 100%;
}

.HeaderAuth img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.App-header a h1 img {
  height: 100%;
  max-width: 100%;
}

.App-header a h1 {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#give-space {
  padding: 5em;
  padding-top: calc(5em + 10vh);
}
