.Watch {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#col1 {
  flex: 67%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #eee;
}

#col2 {
  flex: 33%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: auto;
}

.StreamPlayer {
  background-color: black;
  height: 67%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StreamPlayer video {
  max-height: 100%;
  max-width: 100%;
}

#col1 p {
  overflow: auto;
}

.ShoutOuts {
  padding: 1em;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  display: flex;
}

#shout-header {
  flex: 1;
}

.list-group {
  overflow: auto;
}

.ShoutOuts i {
  font-size: .8em;
}

.ShoutOuts b {
  font-size: .8em;
}

#shout-shadow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.alert {
  margin: 10vw;
  padding: 1.5em;
  z-index: 3;
  font-size: 2em;
}

.alert-heading {
  text-align: left;
  font-size: 1.3em;
  margin-bottom: 1.5em;
  margin-right: 2em;
}

#stream-info {
  padding: 2em;
  overflow: auto;
}
